body{
    font-family: sans-serif;
  text-align: center;
}

.block{
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  margin: 5px;
  text-align: center;
  line-height: 2;

}

#time{
    text-align: center;
   padding: 20px;
  font-weight: bold;

}
